<div class="auth-card">
  <h2>Connexion</h2>

  <form (ngSubmit)="login()">
    <div class="field">
      <label>Email</label>
      <input
        type="email"
        [(ngModel)]="email"
        name="email"
        placeholder="ex: user@email.com"
        required
      />
    </div>

    <div class="field">
      <label>Mot de passe</label>
      <input
        type="password"
        [(ngModel)]="password"
        name="password"
        placeholder="••••••••"
        required
      />
    </div>

    <button type="submit">Se connecter</button>

    <p class="switch">
      Pas de compte ?
      <a routerLink="/register">Créer un compte</a>
    </p>
  </form>
</div>